*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

header{
    width: 100%;
    height: 101vh;
    background: rgba(255, 144, 14, 0.1);
}
/*----------------------------   
navigation section starts here
-----------------------------*/
.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 2.5em;
}
.nav-text-color{
    color: #FF900E;
}
ul{
    display: flex;
    gap: 2em;
    align-items: center;
    list-style-type: none;
}
/*----------------------------   
navigation section ends here
-----------------------------*/

/*----------------------------   
 banner section starts here
-----------------------------*/
.banner-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.banner-title, .feature-title, .serve-header{
    max-width: 65%;
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}
.banner-title{
    max-width: 55%;
}
.banner-title, .banner-description{
    margin: 0 auto;
}
.banner-description, .feature-description, .serve-description, .serve-card-description, .fact-description, .sectors-description{
    max-width: 60%;
    font-weight: 100;
    font-size: 0.7em;
    padding: .5em;
    color: #727272;
}
.btn-primary{
    background: #FF900E;
    border-radius: 0.4em;
    font-weight: 400;
    font-size: 0.9em;
    color: #FFFFFF;
    border: none;
    padding: 0.5em;
}
.banner-img{
    padding: 2em;
    max-width: 45em;
    max-height: 20em;
}
/*------------------------  
 banner section ends here
------------------------*/
/*------------------------  
 feature section starts here
------------------------*/
.feature-container{
    display: flex;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    gap: 3.5em;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
.feature-image>img{
    max-width: 10em;
    max-height: 10em;
}
.feature-title{
    color: #727272;
}
.text-black{
    color: #131313;
}
.text-color{
    color: #FF900E;
}

/*------------------------  
 feature sectio ends here
------------------------*/
/*------------------------  
 serve section starts here
------------------------*/
.serve-container{
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
    width: 85%;
    margin: 0 auto;
}
.serve-header{
    border-left: 0.1em solid #FF900E;
}
.serve-description{
    padding-top: 0.8em;
}
.serve-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 50%;
    padding: 1em;
}
.serve-card-title, .fact-header, .sectors-heading{
    font-weight: 600;
    font-size: 1.2em;
    color: #131313;
   
}
.serve-img{
    max-width: 26em;
    max-height: 50em;
}
.btn{
    font-size: 2.2em;
    position: relative;
    left: -1.3em;
    top: -2em;
}
/*------------------------  
 serve section ends here
------------------------*/
/*------------------------  
 fact section starts here
------------------------*/
.fact-header{
    padding: 1.5em;
}
.fact-description{
    margin-left: 2.1em;
    max-width: 40%;
}
.fact-icon{
    display: flex;
    justify-content: space-around;
    padding: .5em;
    flex-wrap: wrap;
    
}
.fact-icon-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 0.7em;
}
.fact-icon-item>img{
    transition: transform 2s ease 0.5s;
}
.fact-icon-item>img:hover{
    transform: scale(1.5) rotate(-45deg) translate(20px);
    width: 50%;
    height: 50%;
}
.fact-icon-item>h4{
    color: #424242;
}
.fact-icon-item>p{
    color: #727272;
}
/*------------------------  
 fact section ends here
------------------------*/
/*------------------------  
 sectors section starts here
------------------------*/
.sectors-container>h3{
    font-weight: 700;
    font-size: 2.1em;
    color: #131313;
    padding: 1.2em;
    max-width: 8.5em;
    margin: 0 auto;
}
.sectors{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.sectors-btn{
    background: #FF900E;
    border-radius: 0.4em;
    font-weight: 100;
    font-size: 0.55em;
    color: #FFFFFF;
    border: none;
    padding: 0.4em;
}
.sectors-img{
    max-width: 13em;
    max-height: 8em;
}
/*------------------------  
 sectors section ends here
------------------------*/
/*------------------------  
 sponsors section starts here
------------------------*/
 .sponsors>h3{
    font-weight: 700;
    font-size: 2.1em;
    color: #131313;
    padding: 1em;
    max-width: 9.5em;
    margin: 0 auto;
} 
.sponsors>P{
    width: 25%;
    font-weight: 100;
    font-size: 0.7em;
    color: #727272;
    margin: 0 auto;
}
.sponsors-team-img{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap;
}
/*------------------------  
 sponsors section ends here
------------------------*/
footer{
    height: 4.5em;
    width: 85%;
    margin: 0 auto;
    background: #FFF4E7;
    border-radius: 8px;
}
footer>p{
    font-weight: 100;
    font-size: 0.7em;
    color: #424242;
    width: 45%;
    margin:0 auto;
    padding: 2.3em;
}
@media only screen and (max-width:576px) {
    header{
        height: 55%;
    }
    .nav-container{
       flex-direction: column;
       align-items: center;
        }
    ul{
        flex-direction: column;
        }
        .banner-container{
            flex-direction: column-reverse;

        }
        .banner-title{
            max-width: 100%;
        }
        .banner-img{
            max-width: 100%;
        }
        .feature-container{
           flex-direction: column-reverse;
            width: 50%;
        }
        .feature-image{
            grid-template-columns: repeat(1, 1fr);
        }
        .feature-image>img{
            max-width: 100%;
            max-height: 100%;
        }
        .banner-title, .feature-title, .serve-header{
            max-width: 100%;
        }
        .banner-description, .feature-description, .serve-description, .serve-card-description, .fact-description, .sectors-description{
            max-width: 100%;
        }
        .serve-container{
            flex-direction: column;
            width: 100%;
        }
        .serve-card{
            width: 90%;
        }
        .serve-img{
            max-width: 100%; 
        }
        .btn{
            position: static;
        }
        .sectors{
            flex-direction: column;
            width: 50%;
            
        }
        .sponsors>P{
            width: 50%;
        }
        footer{
            width: 100%;
        } 
        footer>p{
            width: 90%;
        }     
    
    }
    